#highlight_conmenu {
    width: 160px;
	height: auto;
	background-color: #f0f0f0;
	border: 1px solid #999999;
	display: none;
	position: absolute;
	z-index: 1000;
	text-align: center;
}

#highlight_conmenu ul {
	list-style: none;
	margin: 0px;
	padding: 5px;
}

.paragraph-highlight {
	background: yellow;
	color: black;
}

.chapter-highlight {
	background: #B8E55C;
	color: black;
}

.other-paragraph-highlight {
	background: #C6E7FF;
	color: black;
}

.other-chapter-highlight {
	background: #A0D7A4;
	color: black;
}

.mix-paragraph-highlight {
	background: #E2F380;
	color: black;
}

.mix-chapter-highlight {
	background: #ACDE80;
	color: black;
}

.range-highlight {
	background: #F6D4D8;   /*#C6E7FF*/
	color: black;
}

