.node {
	width: auto;
	/*コンテンツに応じて幅を自動調整*/
	min-width: 200px;
	/*最小幅を設定*/
	max-width: 400px;
	height: auto;
	min-height: 50px;
	background-color: #4CAF50;
	color: black;
	text-align: left;
	padding: 10px;
	/*内側の余白を設定*/
	box-sizing: border-box;
	/*パディングを含めたサイズ計算*/
	line-height: normal;
	position: absolute;
	cursor: pointer;
	word-wrap: break-word;
	/*長い単語を折り返し*/
	white-space: normal;
	/*改行を許可*/
	overflow: hidden;
	/*ノードの外にテキストがはみ出ないようにする*/
}

.node:active {
	background-color: yellow;
	/* cursor: grabbing; */
}

.node-number {
	font-weight: bold;
	/*数字部分を太字にする*/
	font-size: 18px;
	/*数字のサイズを調整*/
	color: white;
	/*数字の色を白に指定*/
	margin-right: 10px;
	/*数字とテキストの間に余白を設定*/
}

.node-text {
	font-size: 14px;
}

.relationship-node {
	width: auto;
	min-width: 100px;
	max-width: 300px;
	height: auto;
	min-height: 25px;
	position: absolute;
	background-color: #b2be6b;
	padding: 5px;
	box-sizing: border-box;
	/*パディングを含めたサイズ計算*/
	line-height: normal;
	color: black;
	cursor: default;
	word-wrap: break-word;
	/*長い単語を折り返し*/
	white-space: normal;
	/*改行を許可*/
	overflow: hidden;
	/*ノードの外にテキストがはみ出ないようにする*/
}

#area {
	width: 98.5vw;  /*85*/
	height: 88vh;     /*98*/ /*85*/
	margin-bottom: 2vh;
	border: solid 5px #F6D4D8;
	box-sizing: border-box;
	background: #fff;
	float: left;
	resize: horizontal;
	position: relative;
	display: flex;
	flex-direction: row;  /*横並びに配置*/
}

#summary_map {
	display: flex;
	flex-direction: column;
	width: 65%;
	height: 100%;
}

/* 「問いノード追加」等のボタンがある箇所 */
#jsmind_nav {
	width: 100%; /*100%*/
	height: 42px;
	display: inline;
	/* display: none; */
	font-size: 1em;
	border-bottom: solid 2px #F6D4D8; /*border-bottom*/
    border-top: solid 2px #F6D4D8;
	border-left: solid 4px #F6D4D8;
	box-sizing: border-box;
	overflow-x: auto;
	overflow-y: visible;
	float: right;
}

#summary_area {
	width: 100%;
	height: calc(100% - 142px);
	border-left: solid 4px #F6D4D8;
	border-bottom: solid 1px #F6D4D8;
	background: #fff;
	float: right;
	position: relative;
	box-sizing: border-box;
}

#labelEditing_area {
	width: 100%;
	height: 100px;
	background-color: #f0f0f0;
	/* border-bottom: solid 2px #F6D4D8; */
    border-top: solid 1px #F6D4D8;
	border-left: solid 4px #F6D4D8;
	float: right;
	position: relative;
	display: flex;
	box-sizing: border-box;
}

#nodeLabelText {
	/* width: 100%; */
	flex: 1;
	height: 100%;
	border: none;
	font-size: 16px;
	background-color: #fff;
	border-right: solid 2px #F6D4D8;
	box-sizing: border-box;
	resize: none;        /*サイズ変更不可*/
	overflow-y: auto;
}

#other_summary_area {
	width: 100%;
	height: 45%;             /*残りの高さすべてを占める*/
	display: none;
	position: relative;
	border-top: solid 4px #ADD8E6;
	border-bottom: solid 1px #ADD8E6;
	border-left: solid 4px #ADD8E6;
	border-right: solid 4px #ADD8E6;
	box-sizing: border-box;
}

#other_nodeLabelText {
	width: 100%;
	height: 50px;
	border-top: solid 1px #ADD8E6;
	border-bottom: solid 4px #ADD8E6;
	border-left: solid 4px #ADD8E6;
	border-right: solid 4px #ADD8E6;
	position: relative;
	font-size: 16px;
	box-sizing: border-box;
	resize: vertical;
	display: none;
	overflow-y: auto;
}

#paragraph_number {
	position: absolute;
	border: 1px;
	padding: 5px;
	display: none;
}

#node_conmenu {
	width: 160px;
	/* height: 250px; */
	height: auto;
	background-color: #f0f0f0;
	border: 1px solid #999999;
	display: none;
	position: absolute;
	z-index: 1000;
	text-align: center;
}

#node_conmenu ul, #relationship_conmenu ul, #saveHighlight_conmenu ul{
	list-style: none;
	margin: 0px;
	padding: 5px;
}

#relationship_conmenu {
	width: 160px;
	height: 250px;
	position: absolute;
	background-color: #f0f0f0;
	border: 1px solid #999999;
	display: none;
	text-align: center;
	z-index: 1000;
	padding-top: 20px;
}

#saveHighlight_conmenu {
	width: 160px;
	height: 250px;
	position: absolute;
	background-color: #f0f0f0;
	border: 1px solid #999999;
	display: none;
	text-align: center;
	z-index: 1000;
	padding-top: 20px;
}

.button4 {
	background-color: #999;
	color: #fff;
	width: 120px;
	height: 25px;
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;
	overflow: auto;
}

.button4:hover{
	background-color: #ff8c00;
}

.backButton {
	background-color: transparent;
	/* 背景色 */
	/* color: white;
	文字色 */
	font-size: 16px;
	/* 文字の大きさ */
	padding: 5px 10px;
	/* 内側の余白（上下10px、左右20px） */
	border: none;
	/* 枠線なし */
	border-radius: 5px;
	/* 丸みを帯びた角 */
	cursor: pointer;
	/* カーソルをポインタに */
}

/* ホバー時のスタイル */
.backButton:hover {
	background-color: #64b7bd;
}

/* フォーカス時のスタイル(tabキーなどで参照されたとき) */ 
.backButton:focus {
	outline: none;
}